*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: serif;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
p{font-size: 1.2em;}
ul{list-style: none;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    color: #fff;
    background-color: blueviolet;
}

button:hover{
    background-color: rgba(119, 118, 118, 0.822); 
}

.container{
    max-width: 1000px;
    margin: auto;
}
header{
    background-color: aliceblue;
}

.logo-img{
    margin: 10px 0;
    background-image: url(..//img/1490134625-helmet_82239.png);
    background-size: cover;
    width: 80px;
    height:80px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgba(119, 118, 118, 0.822);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: #fff;
    background-image: url("../img/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: #fff;
}


#programer{
    background-image: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#ffa300;
    text-align: center;
    color :#fff;
    height: auto;
}

#programer .container{
    padding: 150px 12px;
}

#programer h2{
    margin-top: 0;
}

#programer p{
    display: none;
    color: #fff;
}

#programer .card{
    background-color: rgba(155, 163, 235);
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.card:first-child{
background-image: url(../img/mision.png);
}

.card:nth-child(2){
    background-image: url(../img/vision.png);
}

.card:nth-child(3){
    background-image: url(../img/imagenebanner3.png);
}

#Comunication{
    background-image: url(../img/banner2.1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: #ffa300;
    color: blueviolet;
    padding-top: 60px;
}

#Comunication .h2{
    text-align: center;
    font-size: 15px;
}

.form-box{
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    background-color: #fff;
    padding: 5px;
    border-radius: 15px;
}

.titu1{
    text-align: center;
    margin: 15px 45px 0px 55px;
}

.button-box {
    width: 240px;
    margin: 30px;
    box-shadow: 0 0 20px #1c2331;
    border-radius:  30px;
}

.imput-group{
    margin-left: 40px;
    margin-bottom: 5px;
    top: 80px;
    width: 90%; ;
    transition: 0.8s;
    left: 30px;
}

textarea{
    width: 100%; ;
    transition: 0.8s;
    left: 30px;
}

.inpu-field{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    outline: none;
    background: transparent;
    border-radius: 5px;
}

.submit-btn{
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 10px 0;
    background: #5950a1;
    color: #fff;
    border: 0px;
    outline: none;
    border-radius: 5px;
}

footer{
    display: flex;
    margin-top: 0;
    text-align: center;
    width: 100%;
    height: 90px;
    background-image: url(../img/pie2.png);
    background-position: center center; 
}


@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #programer .card-grub{
        display: flex;
        justify-content: center;
    }

    #programer p{
        display: block;
        margin-bottom: 30px;
    }

    #programer h2{
        font-size: 4em;
    }

    #programer h3{
        margin-top: 0;
    }

    #programer .card{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(246, 107, 14);
        box-shadow: 2px 2px 10px rgb(246, 107, 14);
        color: #fff;
    }

    .card:first-child{
        background-image: url("../img/mision.png");

    }

    .card:nth-child(2){
        background-image:url("../img/vision.png");
    }

    .card:nth-child(3){
        background-image:l("../img/imagenebanner3.png");

    }

}
